Web References/CalcPrecoPrazoWebReference/CalcPrecoPrazo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalcPrecoPrazo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nCdEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sDsSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nCdServico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCepOrigem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sCepDestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nVlPeso" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nCdFormato" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlComprimento" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlAltura" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlLargura" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlDiametro" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="sCdMaoPropria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nVlValorDeclarado" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="sCdAvisoRecebimento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcPrecoPrazoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalcPrecoPrazoResult" type="tns:cResultado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="cResultado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Servicos" type="tns:ArrayOfCServico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCServico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="cServico" type="tns:cServico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cServico">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrazoEntrega" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorMaoPropria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorAvisoRecebimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorValorDeclarado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntregaDomiciliar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntregaSabado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Erro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MsgErro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cResultado" type="tns:cResultado" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalcPrecoPrazoSoapIn">
    <wsdl:part name="parameters" element="tns:CalcPrecoPrazo" />
  </wsdl:message>
  <wsdl:message name="CalcPrecoPrazoSoapOut">
    <wsdl:part name="parameters" element="tns:CalcPrecoPrazoResponse" />
  </wsdl:message>
  <wsdl:message name="CalcPrecoPrazoHttpGetIn">
    <wsdl:part name="nCdEmpresa" type="s:string" />
    <wsdl:part name="sDsSenha" type="s:string" />
    <wsdl:part name="nCdServico" type="s:string" />
    <wsdl:part name="sCepOrigem" type="s:string" />
    <wsdl:part name="sCepDestino" type="s:string" />
    <wsdl:part name="nVlPeso" type="s:string" />
    <wsdl:part name="nCdFormato" type="s:string" />
    <wsdl:part name="nVlComprimento" type="s:string" />
    <wsdl:part name="nVlAltura" type="s:string" />
    <wsdl:part name="nVlLargura" type="s:string" />
    <wsdl:part name="nVlDiametro" type="s:string" />
    <wsdl:part name="sCdMaoPropria" type="s:string" />
    <wsdl:part name="nVlValorDeclarado" type="s:string" />
    <wsdl:part name="sCdAvisoRecebimento" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CalcPrecoPrazoHttpGetOut">
    <wsdl:part name="Body" element="tns:cResultado" />
  </wsdl:message>
  <wsdl:portType name="CalcPrecoPrazoWSSoap">
    <wsdl:operation name="CalcPrecoPrazo">
      <wsdl:input message="tns:CalcPrecoPrazoSoapIn" />
      <wsdl:output message="tns:CalcPrecoPrazoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CalcPrecoPrazoWSHttpGet">
    <wsdl:operation name="CalcPrecoPrazo">
      <wsdl:input message="tns:CalcPrecoPrazoHttpGetIn" />
      <wsdl:output message="tns:CalcPrecoPrazoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcPrecoPrazoWSSoap" type="tns:CalcPrecoPrazoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalcPrecoPrazo">
      <soap:operation soapAction="http://tempuri.org/CalcPrecoPrazo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcPrecoPrazoWSHttpGet" type="tns:CalcPrecoPrazoWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CalcPrecoPrazo">
      <http:operation location="/CalcPrecoPrazo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcPrecoPrazoWS">
    <wsdl:port name="CalcPrecoPrazoWSSoap" binding="tns:CalcPrecoPrazoWSSoap">
      <soap:address location="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcPrecoPrazoWSHttpGet" binding="tns:CalcPrecoPrazoWSHttpGet">
      <http:address location="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>